<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <!-- background color -->
    <style>
      body {
        background-color: rgb(255, 172, 19);
      }
    </style>
  </head>

<body>
    <!-- container start -->
    <div class="container">
        <div class="jumbotron text-center" style="background-image: url(https://cdn1.edgedatg.com/aws/v2/natgeotv/Mars/showimages/a07a09aa9b0a2ff2b8416d3c9f3ef50a/1200x676-Q75_a07a09aa9b0a2ff2b8416d3c9f3ef50a.jpg); background-size: 100%; height: 400px;">
            <h1 style="color: rgb(250, 218, 150)">Mission to</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="btn btn-lg text-white" style="background-color:teal; color: white" href="/scrape" role="button">Scrape New Data</a>
        </div>
        <!-- row containing latest mars news and hemisphere info -->
        <div class="row">
          <!-- latest mars news -->
          <div class="col col-12 col-md-7 divbody">
            <h2><b>Latest Mars News</b></h2>
            <h3><b>{{mars.news_title}}</b></h3>
            <h4><p>{{mars.news_paragraph}}</p></h4>
          </div>
        </div>
        <!-- row containing featured image and mars facts table -->
        <div class="row">
          <!-- featured image -->
          <div class="col-md-6 text-center">
            <h2><b>Featured Mars Image</b></h2>
            <img src="{{mars.featured_image}}">
          </div>
          <!-- mars facts -->
          <div class="col-md-6 text-center">
            <h2><b>Mars Facts</b></h2>
            <div class="col-md-12">{{mars.mars_profile_df | safe}}
            </div>
          </div>
        </div>


    </div>

</body>

  </html>